@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");

/* line 146, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_elements.scss */
.button-group-area .topic-tag {
    margin-right: 12px;
    margin-top: 10px;
  }

.topic-tag {
    display: inline-block;
    outline: none;
    line-height: 25px;
    padding: 0 40px;
    border-radius: 8px;
    font-size: 1.0em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  /* line 257, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_elements.scss */
.topic-tag.info {
    color: #C4BEBE;
    background: #ACA8A8;
    border: 1px solid transparent;
  }

  .topic-tag.info:hover {
    color: #C4BEBE;
    background: #C4BEBE;
  }

  /* line 267, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_elements.scss */
  .topic-tag.info-border {
    color: #ACA8A8 ;
    border: 1px solid #ACA8A8 ;
    background: #C4BEBE;
  }

/* line 455, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_elements.scss */
.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
    color: #fff;
  }
  
  /* line 459, ../../Arafath/CL/Cl November/228. Resume-02/HTML/scss/_elements.scss */
.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #ff5e13;
    background: #1e1e1e;
    top: 4px;
    left: 0;
    border-radius: 50%;
  }

  .mb-30-right {
    text-align: right;
    margin-bottom: 30px;
  }